.background-fullscreen-chat {
  height: 100%;
  width: 100%;
  background: #181818;
  display: flex;
}

.background-fullscreen-chat aside {
  display: flex;
  flex-direction: column;
  gap: 35px;
  position: absolute;
  width: 425px;
  height: 100%;
  color: #f9f9f9;
  padding: 50px 0;
  border-right: 1px solid #2A2A2A;
}

.background-fullscreen-chat aside .padding {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 0 25px;
}

.background-fullscreen-chat main {
  flex-grow: 1;
  margin-left: 425px;
}

.background-fullscreen-chat .title {
  font-size: 1.25rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.background-fullscreen-chat .subtitle {
  font-size: .75rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.input-search {
  max-width: 356px;
  background: #323232;
  border: 1px solid #3E3E3E;
  padding: 12px;
  border-radius: 9999px;
}

.input-search svg {
  color: #55A99D;
}

.input-search input {
  background: transparent;
  border: none;
  outline: none;
  padding: 0 12px;
  color: rgba(228, 228, 228, 0.83);
}

.input-search input::placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: rgba(228, 228, 228, 0.83);

}

.friends {
  display: flex;
  flex-direction: column;
}

.friends .friend {
  padding: 15px 25px;
  cursor: pointer;
}

.friends .friend:hover {
  background: #181818;
  filter: brightness(80%);
}

.friend .container {
  display: flex;
  gap: 16px;
}

.friends .friend figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  background: transparent;
  border: 1.5px solid #55A99D;
  border-radius: 50%;
}

.friends .friend img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.friends .friend .info {
  flex-grow: 1;
}

.friends .friend h4 {
  display: flex;
  justify-content: space-between;
  font-size: 1.175rem;
  font-weight: 500;
  line-height: 27px;
}

.friends .friend h4 span {
  font-weight: 400;
  font-size: 14px;
  color: #C5BDBD;
}

.friends .friend p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  color: #9C9797;
}

.conversa {
  display: flex;
  flex-direction: column;
}

.mensagens {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 50px 30px;
}

.mensagens li {
  display: flex;
  align-items: flex-end;
}

.mensagens li img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.mensagens li div {
  display: grid;
  gap: 10px;
}

.mensagens li div p {
  height: fit-content;
  padding: 8px 11px;
  background: rgba(42, 42, 42, 0.83);
  color: #9C9797;
  border-radius: 20px 20px 20px 0;
}

.mensagens li.mensagens-left {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
}

.mensagens li.mensagens-left img {
  margin-right: 0;
  margin-left: 20px;
}

.mensagens li.mensagens-left div p {
  background: rgba(85, 169, 157, 0.30);
  color: #55A99D;
  border-radius: 20px 20px 0 20px;
}

.mensagens-input {
  border-top: 1px solid #2A2A2A;
  padding: 15px 30px;
}

.mensagens-input form {
  display: flex;
  align-items: center;
}

.mensagens-input input[type="text"] {
  font-size: 1rem;
  color: #9C9797;
  font-family: 'Poppins', sans-serif;
  background: transparent;
  outline: none;
  border: none;
  flex: 1;
}

.mensagens-input input[type="text"]::placeholder {
  color: #E4E4E4;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

.mensagens-input button {
  width: 18px;
  height: 18px;
  margin-left: 25px;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}